.setup_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

  .setup_inner {
  	background: #201d32;
  	padding: 35px;
  	opacity: 1;
  	height: 100%;
  	border-radius: 8px;
  }

  h3 {
    color: #605a6f;
    font-size: 24px;
    margin: 0 0 10px;
  }

  input {
    width: 100%;
  }

  input.small,
  input.med {
  	width: 40%;
  	margin: 20px 10px 0 0;
  	float: left;

  	min-width: 0;
  }

  input.med {
  	width: 48%;
  }

  button {
  	width: auto;
  	min-width: auto;
  	margin: 4px 0 0 0;

  	position: relative;
  	top: 22px;
  }

  p {
  	opacity: 0.5;
  	font-size: 0.8em;
  }
}
